<div class="Wine-Details">
  <div class="Wine-Details-Detail">
    <p class="Wine-Details-Detail-Label">Winemaker</p>
    <p class="Wine-Details-Detail-Value">{{ section.settings.winemaker }}</p>
  </div>

  <div class="Wine-Details-Detail">
    <p class="Wine-Details-Detail-Label">Appalation</p>
    <p class="Wine-Details-Detail-Value">{{ section.settings.appalation }}</p>
  </div>

  <div class="Wine-Details-Detail">
    <p class="Wine-Details-Detail-Label">Varietal</p>
    <p class="Wine-Details-Detail-Value">{{ section.settings.varietal }}</p>
  </div>

  <div class="Wine-Details-Detail">
    <p class="Wine-Details-Detail-Label">Cultivation</p>
    <p class="Wine-Details-Detail-Value">{{ section.settings.cultivation }}</p>
  </div>
</div>
