<div class="Wine-Carousel" data-carousel="wine_pics">
  <img
    class="Wine-Carousel-Item _currentSlide"
    src="{{ section.settings.image_1 | image_url }}"
    data-carousel-item="wine_pics"
  />

  <img
    class="Wine-Carousel-Item"
    src="{{ section.settings.image_2 | image_url }}"
    data-carousel-item="wine_pics"
  />
</div>
