<div class="Wine-Description">
  <img class="Wine-Rune Wine-Description-Rune" src="{{ section.settings.rune | image_url }}" />

  <p class="Wine-Description-Text">{{ section.settings.description }}</p>

  <a href="/pages/locate" class="Wine-Action Wine-Description-Action">Where to Shop</a>
</div>
