.Wine-Action {
  display: block;
  margin: 0 auto;
  font-family: var(--type-sans-serif);
  font-size: 10px;
  font-weight: 400px;
  letter-spacing: 0.05em;
  color: var(--black);
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
