@import "../../mediaQueries";
@import "../../typesettings";

.Wine-Description {
  padding: 0 10%;

  &-Rune {
    @include largerThan($mq-small) {
      display: none;
    }
  }

  &-Rune + &-Text {
    margin-top: 40px;
  }

  &-Text {
    @include body;
    color: var(--black);
    text-align: left;

    @include largerThan($mq-small) {
      text-align: center;
    }
  }

  &-Text + &-Action {
    margin-top: 20px;
  }
}
