@import "../../typesettings";

.Wine-Details {
  &-Detail {
    padding: 0 10%;

    &-Label {
      @include detailLabel;
    }
    &-Label + &-Value {
      margin-top: 8px;
    }

    &-Value {
      @include detailValue;
    }
  }
  &-Detail + &-Detail {
    margin-top: 16px;
  }
}
