@import "../../mediaQueries";
@import "../../typesettings";

.Wine-Image {
  display: none;

  @include largerThan($mq-small) {
    display: block;
  }

  &-Image {
    display: block;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: (0 0 0 transparent);

    @include largerThan($mq-small) {
      height: 600px;
    }

    &:hover {
      box-shadow: 0 4px 73px var(--image-hover-color);
    }
  }

  &-Image + &-Credit {
    margin-top: 20px;
  }

  &-Credit {
    display: none;
    text-align: center;

    @include largerThan($mq-small) {
      display: block;
    }

    &-Label {
      @include creditLabel;
    }

    &-Name {
      @include creditValue;
      color: inherit;
    }
  }
}
