@import "../mediaQueries";

.Footer {
  &-Ticker {
    display: none;
    position: relative;
    height: 74px;
    width: 100vw;
    background-color: var(--purple);
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-10% + var(--offset));
    --move-final: calc(-50% + var(--offset));

    @include largerThan($mq-small) {
      display: block;
    }

    &-Frame {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 20px;
      height: 100%;
      transform: translateX(var(--move-initial));
      animation: marquee 40s linear infinite;
    }

    &-Link {
      padding-top: 7px;
      font-family: var(--type-serif);
      font-size: 27px;
      font-weight: 400;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      white-space: nowrap;
    }
    &-Link + &-Icon {
      margin-left: 30px;
    }

    &-Icon {
      height: 36px;
    }
    &-Icon + &-Link {
      margin-left: 30px;
    }
  }

  &-Menu {
    display: flex;
    justify-content: center;
    padding: 13px 0;
    background-color: var(--purple);

    @include largerThan($mq-small) {
      background-color: var(--white);
    }

    &-Item {
      font-size: 10px;
      font-family: var(--type-sans-serif);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--white);

      @include largerThan($mq-small) {
        color: var(--black);
      }
    }

    &-Item + &-Item {
      margin-left: 40px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--move-initial));
  }

  100% {
    transform: translateX(var(--move-final));
  }
}
