:root {
  --white: #f9f4e6;
  --black: #000000;
  --purple: #5e3a6a;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 70px 0 0;
  min-height: 100vh;
  margin: 0;
  background-color: var(--white);

  main {
    flex-grow: 1;
  }
}

@import "./sections/Header";
@import "./sections/Footer";
