@import "./mediaQueries";
@import "./reset";
@import "./fonts";

:root {
  --white: #f9f4e6;
  --black: #000000;
  --purple: #5e3a6a;

  --type-sans-serif: "GT America", Helvetica, sans-serif;
  --type-serif: "gc16", serif;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 71px 0 0;
  min-height: 100vh;
  background-color: var(--white);
  font-size: 16px;

  @include largerThan($mq-small) {
    padding-top: 81px;
  }

  main {
    flex-grow: 1;
  }
}

@import "./sections/Header";
@import "./sections/Footer";
