.Wine-Details {
  &-Detail {
    padding: 0 10%;

    &-Label {
      font-family: var(--type-sans-serif);
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    &-Label + &-Value {
      margin-top: 8px;
    }

    &-Value {
      font-family: "Helvetica", sans-serif;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 0.05em;
    }
  }
  &-Detail + &-Detail {
    margin-top: 16px;
  }
}
