@import "../mediaQueries";
@import "../typesettings";

.Collection {
  background: var(--black);
  min-height: calc(100vh - 71px - 36px);

  @include largerThan($mq-small) {
    min-height: calc(100vh - 81px - 110px);
  }

  &-Container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 12vw 10vw;
    max-width: 64rem;
    margin: 0 auto;

    @include largerThan($mq-small) {
      padding: 3.5rem 0;
      grid-template-columns: 1fr 1fr;
      column-gap: 2.75rem;
      row-gap: 2.75rem;
    }
  }

  &-Item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    text-decoration: none;

    @include largerThan($mq-small) {
      justify-content: flex-start;
    }

    &-Image {
      display: block;
      width: 100%;
      height: 80vw;
      margin-bottom: 20px;
      object-fit: contain;

      @include largerThan($mq-small) {
        height: 490px;
      }
    }

    &-Title {
      @include body;
      display: block;
    }

    &-Title + &-Price {
      margin-left: 5px;

      &:before {
        content: "—";
      }
    }

    &-Price {
      @include price;
      display: block;
    }
  }

  &-Item + &-Item {
    margin-top: 12vw;

    @include largerThan($mq-small) {
      margin-top: 0;
    }
  }

  &-EmptyMessage {
  }
}
